html, body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    display: flex; 
    flex-direction: row;
    overflow: hidden;
}

.half{
    display: flex;
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
}

.half img{
    width: auto;
    height: 30vh;
    padding: 5%;
}

#left img{
    height: 50vh;
    width: auto;
}

#left {
    justify-content: center;
    align-items: center;
    background-color: black;
    order: 2;
}

#right {
    justify-content: center;
    align-items: center;
    background-color: #BBBBBB;
    order: 1;
}

h1{
    text-align: center;
    color: teal;
}

#right img{
    height: 25vh;
    width: auto;
}

